<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/vins.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script src="js/VinsModel.js"></script>
</head>
<body>
<script>
var vinsApp = angular.module("vinsApp", []);
vinsApp.controller("vinsCtrl", function($scope, $http) {
    $scope.pers = {
        'civi': 'Mme',
        'nom': '',
        'email': '',
        'dirlivr': '',
        'dirfact': '',
    };
    
    $http({method: 'GET', url: 'articles.json'}).
        success(function(data, status, headers, config) {
            $scope.vins = new Vins(data);
        }).error(function(data, status, headers, config) {
            console.error("Could not load data");
            console.error(data);
        });
});
</script>
<div id='vinsApp' ng-app="vinsApp">
<form id='formvins' ng-controller="vinsCtrl">
<p>Votre prénom et nom :<br />
<select id='civi' ng-model="pers.civi">
    <option value='Mme'>Madame</option>
    <option value='Mlle'>Mademoiselle</option>
    <option value='Mr'>Monsieur</option>
</select> <input id='nom' ng-model='pers.nom' type="text" required></p>
<p>Votre adresse email :<br />
    <input id='email' ng-model='pers.email' type='email' placeholder="exemple@domaine.com" required></p>
<p class='floating'>Adresse de livraison :<br />
    <textarea id='dirlivr' ng-model='pers.dirlivr' class='adresse' required></textarea></p>
<p class='floating'>Adresse de facturation si différente :<br />
    <textarea id='dirfact' ng-model='pers.dirfact' class='adresse' required></textarea></p>
<div ng-repeat='clsVin in vins.classes'>
    <p class='sectionvins'>{{clsVin.title}}</p>
    <table class='floating tablechoix' ng-repeat='gp in clsVin.groups'>
        <tr>
            <th colspan='3'>{{gp.desc}}</th>
        </tr>
        <tr ng-repeat='item in gp.items'>
            <td><input type='text' ng-model='item.unit' id='ch50_1' class='qtte' placeholder='0'/></td>
            <td>{{item.desc}} à {{item.fprixuni()}}</td>
            <td class='totbt'>{{item.fprixtot()}}</td>
        </tr>
    </table>
</div>

<p id='ptotal' class='total clear'>Total: <span id='total'>{{vins.total()}}</span></p>

<p class='clear'>
Si vous le voulez, vous pouvez ajouter un message à votre commande:<br />
<textarea id='commentaire' rows="6" cols="40" placeholder="Votre message"></textarea>
</p>
<p>
<a href="mailto:marianne@nectardesign.ch"><input type="submit" value="Envoyer" /> 
<input type="reset" value="Annuler" />
</p>
</form>
</div>
</body>	
</html>